{#
/**
 * @file modulesoverview.html.twig
 * Default theme implementation to present Moduloplataforma data.
 *
 * This template is used when viewing Moduloplataforma pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_modulesoverview()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('modulesoverview') }}>
    {% if content %}
        <div id="container">
            <div id="row1">
                <div id="verticales"
                        {% if content.verticales.clase == false %}
                            class="cajaneutra">
                        {% else %}
                            class="{{  content.verticales.clase }}" onclick="window.location='{{  content.verticales.link }}'">
                        {%  endif %}
                    </div>
                <div id="visualizacion"
                        {% if content.visualizacion.clase == false %}
                            class="cajaneutra">
                        {% else %}
                            class="{{  content.visualizacion.clase }}" onclick="window.location='{{  content.visualizacion.link }}'">
                        {%  endif %}
                </div>
            </div>
            <div id="publicacion"
                    {% if content.publicacion.clase == false %}
                        class="cajaneutra">
                    {% else %}
                        class="{{  content.publicacion.clase }}" onclick="window.location='{{  content.publicacion.link }}'">
                    {%  endif %}
            </div>
            <div id="row3">
                <div id="procesadodatos"
                        {% if content.procesadodatos.clase == false %}
                     class="cajaneutra">
                    {% else %}
                        class="{{  content.procesadodatos.clase }}" onclick="window.location='{{  content.procesadodatos.link }}'">
                    {%  endif %}
                </div>
                <div id="sistemadatos"
                        {% if content.sistemadatos.clase == false %}
                     class="cajaneutra">
                    {% else %}
                        class="{{  content.sistemadatos.clase }}" onclick="window.location='{{  content.sistemadatos.link }}'">
                    {%  endif %}
                </div>
                <div id="administracion"
                        {% if content.administracion.clase == false %}
                     class="cajaneutra">
                    {% else %}
                        class="{{  content.administracion.clase }}" onclick="window.location='{{  content.administracion.link }}'">
                    {%  endif %}
                </div>
            </div>
            <div id="captacion"
                    {% if content.captacion.clase == false %}
                 class="cajaneutra">
                {% else %}
                    class="{{  content.captacion.clase }}" onclick="window.location='{{  content.captacion.link }}'">
                {%  endif %}
            </div>
        </div>
    {% endif %}
</div>