{#
/**
 * @file moduloplataforma.html.twig
 * Default theme implementation to present Moduloplataforma data.
 *
 * This template is used when viewing Moduloplataforma pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_moduloplataforma()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('moduloplataforma') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
