{#
/**
 * @file
 * Default theme implementation to present a list of services ans its status.
 *
 * Available variables:
 * - types: A collection of all the available custom entity types/bundles.
 *   Each type/bundle contains the following:
 *   - link: A link to add a content entity of this type.
 *   - description: A description of this content entity types/bundle.
 *
 * @see template_preprocess_moduloplataforma_content_add_list()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
{{ title_prefix }}
  {% if label %}
      <h3{{ title_attributes }}>{{ label }}</h3>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
      {{ content }}
  {% endblock %}
</div>


