{#
/**
 * @file serviciocliente.html.twig
 * Default theme implementation to present Serviciocliente data.
 *
 * This template is used when viewing Serviciocliente pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_serviciocliente()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('serviciocliente') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
